{% extends 'homepage.html' %}
{% block body %}
	<div class='search'>
		<h1> Expression level of gene in specific cell </h1>
		<form action="{{ url_for('cell_type_specific') }}" method="post" id="search_gene">
			{{ form.hidden_tag() }}
			<p>
				Please enter gene symbol:<br>
				{{ form.gene_name(list="genes_datalist") }}
				<datalist id="genes_datalist" >
				</datalist>
				<br>
				Choose cell type <br>
				{{ form.cell_type }}
			</p>
			<p><input type="submit" name="search"></p>
		</form>
			<p>
				{% with messages = get_flashed_messages() %}
					{% for message in messages %}
						{{message}}
					{% endfor %}
				{% endwith %}
			</p>
			{% for message in messages %}
				<p style="color:red; font-size:17px;"> 
				{{ message }} 
				</p> 
				<br>
			{% endfor %}
		
	</div>
	<div class="graphs">

	{% if graphs_data %}
		<div style="display:none;">
			there are graphs
		</div>
		{% for graph in graphs_data %}
				<embed type='image/svg+xml' src = {{ graph|safe }} />
				<br>
		{% endfor %}
	{% endif %}
	</div>


{% endblock %}