{% extends 'homepage.html' %}
{% block body %}
	<div class='search'>
		<h2> Gene Expression Male vs. Females</h2>
		<form action="{{ url_for('pan_immune') }}" method="post" id="search_gene">
			<p>
				Type the gene symbol to see its expression levels in mice immune cells:<br>
				{{ form.gene_name(list="genes_datalist") }}
				<datalist id="genes_datalist" >
				</datalist>
				<br>				
			</p>
			<p><input type="submit" name="search"></p>
		</form>
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endwith %}
		<br>
	</div>
	{% if data %}
		have data!
		{{ data }}
	{% endif %}

	<div class='graphs'>
	{% if graphs %}

		<div style="display:none;"}>
		there are graphs
		</div>
		{% for graph in graphs %}
			<embed type='image/svg+xml' src = {{ graph|safe }} />
			<br>
		{% endfor %}
	{% endif %}
	</div>

{% endblock %}
